@font-face {
    font-family: "font1";
    src: url(./1ZFS7N918ojhhd0nQWdj3jz4w.woff2) format("woff");
}
@font-face {
    font-family: "font2";
    src: url(./8vIH7w4qzmVxm2BL9A.woff2)
    format("woff");
}
@font-face {
    font-family: "font3";
    src: url(./KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2)
    format("woff");
}
@font-face {
    font-family: "font4";
    src: url(./L0xTDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vrtSM1J-gEPT5Ese6hmHSh0mQ.woff2)
    format("woff");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    padding: 12px;
    background-color: #191919;
}
#root{
    padding: 1rem;
    width: 100%;
    border: 2px solid #8b8a87;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    align-items: center;
    font-family: font1;
    padding: 8px 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #8b8a87;
}
.left{
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    gap: 1rem;
}
.right{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    gap: 10px;
}
.theme-toggle{
    padding: 2px 10px;
    width: 60px;
    height: 30px;
    border: 1px solid #8b8a87;
    border-radius: 1.2rem;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
}
.hamburger{
    padding: 10px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.line:first-child{
    opacity: 0.65;
}
.line:last-child{
    opacity: 0.65;
}
header a{
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 3px;
    font-family: sans-serif;
}
.logo-container{
    width: 40px;
    height: 40px;
    position: relative;
    /* background-color: pink; */
}
.logo-container > .square{
    width: 100%;
    height: 100%;
    border: 1px solid #8b8a87;
}
.logo-container > .square:first-child{
    position: absolute;
}
.logo-container > .square:nth-child(2){
    left: 4px;
    bottom: 4px;
    position: absolute;
}
.logo-container > .square:nth-child(3){
    left: 8px;
    bottom: 8px;
    position: absolute;
}
.logo-container > .sq-fill{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fdfbf5;
    bottom: 13px;
    left: 13px;
}
.lets-talk{
    display: none;
}
.circular-buttons{
    display: none;
}
header .links{
    display: none;
}
/* --------------------------------------------------- */
#view1{
    width: 100%;
    color: #fdfbf5;
    
}
.view1-container{
    width: 100%;
}
.view1-subgroup{
    padding: 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#view1  p{
    text-transform: uppercase;
    font-family: font3;
}
#view1  h2{
    font-family: font2;
    font-size: 3.5rem;
}
#view1  .view1-hero-img-container{
    width: 100%;
    /* border-radius: 10px; */
}
.view1-hero-img-container > img{
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}
#view1 .view1-subgroup:last-child > h2{
    width: 94%;
    font-family: font2;
    font-size: 2.5rem;
    letter-spacing: -1px;
}

@media (min-width: 810px) and (max-width: 1199px){
    #root{
        padding: 2rem;
    }
    header{
        padding: 8px 0;
        padding-bottom: 1rem;
        border-bottom: 1px solid #8b8a87;
    }
    .left{
        gap: 1.5rem;
    }
    .right{
        /* border: 1px solid green; */
        display: flex;
        align-items: center;
        gap: 10px;
        overflow: hidden;
    }
    .lets-talk{
        display: initial;
        padding: 10px 1rem;
        text-transform: uppercase;
        background-color: #fdfbf5;
        border: none;
        border-radius: 5px;
        letter-spacing: 2px;
    }
    .circular-buttons{
        display: flex;
        gap: 1rem;
        display: initial;
        border: 1px solid #8b8a87;
        padding: 0 1rem;
         border-top: none;
         border-bottom: none;
    }
    .circular-buttons > button{
        background-color: transparent;
        border: 1px solid #8b8a87;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        color: #fdfbf5;
        font-family: font4;
        cursor: pointer;
        margin-right: 10px;
    }
    .circular-buttons > button:last-child{
        margin-right: 0;
    }
    .lets-talk-container{
        border-right: 1px solid #8b8a87;
        padding-right: 1rem;
    }
    .links{
        display: none;
    }
}

@media (min-width: 1200px){
    #root{
        padding: 2rem;
    }
    header{
        padding: 8px 0;
        padding-bottom: 2rem;
        border-bottom: 1px solid #8b8a87;
    }
    .left{
        gap: 1.5rem;
    }
    .right{
        /* border: 1px solid green; */
        display: flex;
        align-items: center;
        gap: 10px;
        overflow: hidden;
    }
    .lets-talk{
        display: initial;
        padding: 10px 1rem;
        text-transform: uppercase;
        background-color: #fdfbf5;
        border: none;
        border-radius: 5px;
        letter-spacing: 2px;
    }
    .circular-buttons{
        display: flex;
        gap: 1rem;
        display: initial;
        border: 1px solid #8b8a87;
        padding: 0 1rem;
         border-top: none;
         border-bottom: none;
    }
    .circular-buttons > button{
        background-color: transparent;
        border: 1px solid #8b8a87;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        color: #fdfbf5;
        font-family: font4;
        cursor: pointer;
        margin-right: 10px;
    }
    .circular-buttons > button:last-child{
        margin-right: 0;
    }
    .lets-talk-container{
        /* border-right: 1px solid #8b8a87; */
        /* padding-right: 1rem; */
    }
    .links{
        margin-right: 3rem;
    }
    .links > ul{
        display: flex;
        gap: 1rem;
    }
    .links > ul > li{
        list-style: none;
        text-transform: uppercase;
    }
    .links > ul > li > a{
        font-size: 14px;
        font-family: font1;
    }
    .hamburger{
        display: none;
    }
    .theme-toggle{
        order: 4;
    }
}